extends ./layouts/navbar.pug
block css
	link(rel = "stylesheet", href = "/css/home.css", type = "text/css")
block body  
	#slideshow
		.slides.fade
			img#slideimg(src="/images/slideshow1.jpg",width="50%" height="60%;")
		.slides.fade
			img#slideimg(src="/images/slideshow2.jpg", 	width="50%" height="60%;")
		.slides.fade
			img#slideimg(src="/images/slideshow3.jpg", width="50%" height="60%;")
		.slides.fade
			img#slideimg(src="/images/slideshow4.webp", width="50%" height="60%;")
		.slides.fade
			img#slideimg(src="/images/slideshow5.jpg", width="50%" height="60%;")
		.text
			h1.intro Welcome to OFIT
				span#blink !
			h2.acro Online Fitness Indoor Training   
	#aboutus
		.txt
			h1.intro.aboutus
				label About Us
			h3.desc OFIT is a website developed for the purpose of sharing workout routines and healthy recipes. This site allows users to browse workout routines and healthy recipes that they would like to try at their homes as well as share their own workout routines and healthy recipes for others to try. As a team, we were thinking of things that people are frequently doing at their homes especially during this times of quarantine. Most of us have started exercising and cooking, so we decided to create a site where people can look for workout routines and recipes to try in the comfort of their own home.
		.image
			img#aboutimg(src="/images/healthy2.jpg", width="50%" height="60%")
	#footer
		#foothead
			p NPMs installed:
		.data1
			p body-parser
			p cookie-parser
			p crypto-js
			p express
			p express-session
		.data2
			p fs
			p mongoose
			p move-file
			p multer
		.data3
			p path
			p pug
			p util
			p nodemon
block scripts  
	script(src="/scripts/slideshow.js")