extends ./layouts/navbar.pug
block css
	link(rel = "stylesheet", type = "text/css", href = "/css/post.css")
block body
	#postcontainer
		h2 Create a Post
		.left-col
			button#showrecbtn(type = "button") Recipe
		.right-col
			button#showworkbtn(type = "button") Workout	
	#recipecontainer(style = "display: none")
		form#recipepost(action = "/newrecipepost", method = "POST", name = "recipepost")
			.recipeTitleSection
				div(style="grid-column: 1/3;")
					p#recipeTitle RECIPE TITLE
					input#recipeTitleBox(name = "recipetitle", placeholder = "Title of post", type = "text", required)
					p#recipeTitle RECIPE THUMBNAIL
					label.upload
						input.file#thumbnail(name = "postimg", type = "file", onchange="readRecipeThumbnail(this, 0)",required)
						input.file2#thumbnailName(type="text", disabled, required)
						span.customFile Browse
					br
					p#recipeCategories(style="color: white;") CATEGORIES:
					div#1focus.focusopt(style="z-index:2; box-sizing: border-box;")
						input#seafood.boxes.one(name = "seafood", type = "checkbox" , onclick="checkfullcategory(this)")
						label(for = "seafood") Seafood
						br
						input#seafood.boxes.one(name = "pastry", type = "checkbox" , onclick="checkfullcategory(this)")
						label(for = "pastry") Pastry
						br
						input#vegetables.boxes.one(name = "vegetables", type = "checkbox" , onclick="checkfullcategory(this)")
						label(for = "vegetables") Vegetables
						br
						input#meat.boxes.one(name = "meat", type = "checkbox" , onclick="checkfullcategory(this)")
						label(for = "meat") Meat
						br
						input#fruits.boxes.one(name = "seafood", type = "checkbox" , onclick="checkfullcategory(this)")
						label(for = "fruits") Fruits
				#thumbnailImg(style="grid-column: 3/5;")
					img#recipepostimg(src="", alt="Post Thumbnail", style="display: none;")
			#ingredientsContainer
				p INGREDIENTS INCLUDED
				input#ingredients(type="text")
				input#fullingredients(type="text", style="display: none;", name="ingredients")
				button(type="button")
					img#addingredients(src="/images/plus.png" onclick="addIngredient();")
				
			button#rpostbtn(type="submit") Post
	#workoutcontainer(style = "display: none")
		form#workoutpost(action = "/newworkoutpost",method = "POST", name = "workoutpost", enctype="multipart/form-data")
			.workTitleSection
				div(style="grid-column: 1/3;")
					p#workTitle WORKOUT TITLE
					input#workTitleBox(name = "workouttitle", placeholder = "Title of post", type = "text", autocomplete = "off", required)
					p#workTitle WORKOUT THUMBNAIL
					label.upload
						input.file#thumbnail(name = "postimg", type = "file", onchange="readWorkThumbnail(this, 0)",required)
						input.file2#thumbnailName(type="text", disabled, required)
						span.customFile Browse
					br
					.workDurationSection(style="grid-column: 1/2")
						p#workDuration ESTIMATED DURATION
						select#workDurationBox(name="workoutdur", required)
							option(value="30") 30 minutes
							option(value="60") 60 minutes
							option(value="90") 90 minutes
					.workDifficultySection(style="grid-column: 1/2")
						p#workDiff DIFFICULTY
						select#workDiffBox(name="workoutdiff", required)
							option(value="Beginner")  Beginner
							option(value="Intermediate") Intermediate
							option(value="Advanced")  Advanced
				#thumbnailImg(style="grid-column: 3/5;")
					img#workpostimg(src="", alt="Post Thumbnail", style="display: none;")
			.workBodyFocusSection
				#slideshow
				#workBodyFocus
					p#workBodyFocusTitle BODY FOCUS
				div#1focus.focusopt(style="z-index:2; box-sizing: border-box;")
					input#abdomen.boxes.one(name = "abdomen", type = "checkbox" , onclick="checkfullbody(this)")
					label(for = "abdomen") Abdomen
				div#2focus.focusopt(style="z-index:2; box-sizing: border-box; width: 100%;")
					input#glutes.boxes.one(name = "glutes", type = "checkbox" , onclick="uncheckfullbody(this)")
					label(for = "glutes") Glutes
				div#3focus.focusopt(style="z-index:2;; box-sizing: border-box; width: 100%;")
					input#triceps.boxes.one(name = "triceps", type = "checkbox" , onclick="uncheckfullbody(this)")
					label(for = "triceps") Triceps
				div#4focus.focusopt(style="z-index:2; box-sizing: border-box; width: 100%;")
					input#biceps.boxes.one(name = "biceps", type = "checkbox" , onclick="uncheckfullbody(this)")
					label(for = "biceps") Biceps
				div#5focus.focusopt(style="z-index:2; box-sizing: border-box; width: 100%;")
					input#back.boxes.one(name = "back", type = "checkbox" , onclick="uncheckfullbody(this)")
					label(for = "back") Back
				div#6focus.focusopt(style="z-index:2; box-sizing: border-box; width: 100%;")
					input#chest.boxes.one(name = "chest", type = "checkbox" , onclick="uncheckfullbody(this)")
					label(for = "chest") Chest
				div#7focus.focusopt(style="z-index:2; box-sizing: border-box; width: 100%;")
					input#thighs.boxes.one(name = "thighs", type = "checkbox", onclick="uncheckfullbody(this)")
					label(for = "thighs") Thighs
				div#8focus.focusopt(style="z-index:2; box-sizing: border-box; width: 100%;")
					input#wholebody.boxes(name = "wholebody", type = "checkbox", onclick="toggle(this);")
					label(for = "wholebody") Whole Body
				input#bodyFocusList(type="text", style="display: none;" name="bodyfocuslist")
			#workExercisesContainer
				p Exercises
				.execCont
					button#addExercise(type="button")
						img(src="/images/plus.png")
			center
				button#wpostbtn(type="submit", disabled) Post
block scripts
	script(src="/scripts/post.js")
