body{
	margin: 0px;
	padding: 0px;
  	height: 100%;
  	width: 100%;
}
h1{
	font-size: 3em;
	font-family: 'Actor';
}
h2 {
	font-size: 2em;
	font-family: 'Actor';
}
h3 {
	font-family: 'Actor';
}
a {
	text-decoration: none;
}
#slideshow {
	width: 100%;
	display: block;
	margin-top: 5%;
	margin-bottom: 0%;
}
.slides img{
	width: 50%;
	margin-left: 6.5%;
	float: left;
	transition: all 0.6s ease;
}
#slideshow .text {
	float: left;
	padding-left: 3%;
	padding-right: 3%;
	color: white;
	background-color: #b04632;
	width: 30%;
	height: 60%;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

#aboutus{
	width: 100%;
	display: block;
}

#aboutus .txt{
	float: left;
	padding-left: 3%;
	margin-left: 6.5%;
	color: white;
	background-color: #b04632;
	font-size: 2vh;
	text-align: justify;
	font-family: 'Actor';
	width: 30%;
	height: 60%;
	padding-right: 3%;
	border-left-width: 8px;
}

#aboutus .image img{
	border: none;
	float: left;
	color: white;
	margin-bottom: 3%;
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
.intro {
	padding-top: 10%;
}
.acro {
	padding-top: 5%;
}

#footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 20% 1fr;
	font-family: 'Actor';
	background-color: #b04632;
	width: 100%;
	position: relative;
	bottom: 0;
}
#foothead{
	grid-column: 1/span 3;
	grid-row: 1/span 1;
	padding-top: 10px;
	font-size: 4vh;
	font-weight: 800;
	padding-left: 10px;
	padding-bottom: 10px;
}
.data1{
	font-size: 2.7vh;
	grid-column: 1/span 1;
	grid-row: 2/span 1;
	padding-left: 10px;
	padding-top: 10px;
}
.data2{
	font-size: 2.7vh;
	grid-column: 2/span 1;
	grid-row: 2/span 1;
	padding-left: 10px;
	padding-top: 10px;
}
.data3{
	font-size: 2.7vh;
	grid-column: 3/span 1;
	grid-row: 2/span 1;
	padding-left: 10px;
	padding-top: 10px;
}
@media (max-width: 1300px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	#slideshow .text {
		height: 60%;
	}
	#aboutus .txt {
		font-size: 2.2vh;
	}
} 