body {
	margin: 0;
}
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-track {
	background: black;
}
body::-webkit-scrollbar-thumb {
	background: #b04632;
}
#navbar{
	background-color: #BFBEBE;
	display: grid;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	position: fixed;
	grid-template-columns: repeat(3, 12%) 1fr 0.5fr;
}
#navbar a {
	text-decoration: none;
}
.navbarbtn{
	color: black;
	display: flex;
	flex-direction: column;
	font-weight: 600;
	padding: 0.75rem 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.5s linear;
}
#navbar label {
	font-family: 'actor';
	cursor: pointer;
	font-size: 20px;
	bottom: 0;
}
#searchbar {
	width: 100%;
	display: flex;
	align-items: center;
	margin-right: 0;
	padding-right: 0;
}
#searchbar form {
	width: 100%;
	padding-left: 5%;
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0;
}
#search {
	font-size: 1em;
	border-radius: 20px;
	width: 100%;
	height: 70%;
	padding-left: 2%;
	border: 3px solid #2C2A4A;
}
#search:focus, #searchbar {
	outline: none;
}
button.search {
	background-color: inherit;
	border: 0;
}
#searchbtn {
	width: 60px;
	height: 50px;
	background-color: inherit;
	border: 0;
}
.indexbtns {
	display: grid;
	font-family: verdana;
	font-weight: 600;
	grid-template-columns: 1fr 1fr;
}
.newindexbtns{
	display: grid;
	grid-template-columns: 1fr 0.75fr;
}
a.indexbtn{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Actor';
	font-size: 20px;
	text-align: center;
	color: black;
	padding: 0% 15% 0% 5%;
	transition: all 0.25s linear;
}
.userbtns {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s linear;	/*turning grey to red-orange*/
}
#profpic{
	height: 45px;
	width: 40px;
}
ul.drop {
	list-style-type: none;
	width: 100%;
	position: absolute;
	top: 50px;
	right: 0;
	font-weight: 600;
	padding: 0;
	margin: 0;
	background-color: #ef7564;
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease;		/*doesnt work on auto height*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.userbtns:hover ul {
	opacity: 1;
	visibility: visible;
}
ul.drop li{
	text-align: center;
	padding: 10px 5px;
}
ul.drop li a {
	color: black;
	font-family: 'Actor';
	font-size: 1 em;
}
@media(max-width: 1300px) {
	#navbar .imglink {
		height: 50px;
		width: 50px;
	}
	.navbarbtn {
		padding:0;
	}
	#searchbar {
		width: 100%;
	}
	#profname {
		font-size: 1em;
	}
	li {
		font-size: 1em;
	}
}
@media(max-width: 1100px) {
	#navbar label {
		font-size: 15px;
	}
	#profpic {
		height: 30px;
		width: 40px;
	}
}
@font-face {
	font-family: 'Actor';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/actor-v9-latin/actor-v9-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Actor Regular'), local('Actor-Regular'),
		 url('../fonts/actor-v9-latin/actor-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/actor-v9-latin/actor-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/actor-v9-latin/actor-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/actor-v9-latin/actor-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/actor-v9-latin/actor-v9-latin-regular.svg#Actor') format('svg'); /* Legacy iOS */
}