html {
	scroll-behavior: smooth;
   }
  
  body{
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #postcontainer{
	  height: 100%;
	  width: 100%;
	  position: relative;
	  text-align: center;
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  align-items: center;
  }
  #postcontainer h2{
	  font-family: 'Actor';
	  font-size: 15vmin;
	  text-align: center;
	  grid-column: 1/3;
	  margin: 1vh 20vh;
	  margin-bottom: 1vmin;
	  border-bottom: 1.5vh solid #b04632;
  }
  .left-col {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  display: flex;
	  align-items: flex-start;
	  justify-content: space-evenly;
  }
  .right-col {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  display: flex;
	  align-items: flex-start;
	  justify-content: space-evenly;
  }
  .left-col button, .right-col button, #wpostbtn {
	  font-size: 5vmin;
	  background-color: darkred;
	  color: white;
	  border-radius: 5%;
	  margin: 10px;
	  padding: 2vw 3vw;
	  cursor: pointer;
	  outline: 0;
  }
  #workoutcontainer{
	  position: relative;
	  height: 100%;
	  width: 100%;
	  box-sizing: border-box;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
  }
  #recipecontainer{
	  position: relative;
	  top: 100px;
	  height: 100%;
	  width: 100%;
	  padding: 30vh;
  }
  .workTitleSection {
	  width: 100%;
	  box-sizing: border-box;
	  font-family: 'Actor';
	  background-color: #b04632;
	  display: grid;
	  grid-template-columns: repeat(4, 1fr);
	  grid-column-gap: 10%;
	  padding: 10vh 15vh;
	  height: 100%;
  }
  #workTitle {
	  font-size: 5vh;
	  width: 100%;
	  color: white;
  }
  #workTitleBox{
	  width: 100%;
	  border: 0;
	  background-color: inherit;
	  border-bottom: 5px solid #bebebe;
	  font-size: 4vh;
  }
  #workTitleBox::placeholder {
	  color:#bebebe;
  }
  #workimg{
	  font-size: 4vh;
	  width: 100%;
  }
  #workpostimg{
	  width: 100%;
	  height: 100%;
  }
  #thumbnailName {
	  font-size: 2vh;
	  font-family: 'Actor';
	  color: black;
	  font-weight: 600;
	  text-align: center;
  }
  #thumbnailImg {
	border: 5px solid white;
  }
  .upload {
	  width: 200px;
  }
  .file {
	  display: none;
  }
  .file2 {
	  height: 40px;
	  width: 85%;
	  outline: 0;
	  border: 0;
	  background-color: white;
  }
  .customFile {
	  position: relative;
	  font-size: 3vh;
	  background-color:#bebebe;
	  border-radius: 5%;
	  padding: 5px 10px 10px 10px;
	  cursor: pointer;
  }
  #thumbnail {
		width: 80%;
		height: 80%;
		outline: 0;
		border: 0;
	}
  #workTitleBox:focus {
	  outline: 0;
	  border-bottom: 5px solid white;
  }
  .workBodyFocusSection {
	  width: 100%;
	  height: 100%;
	  box-sizing: border-box;
	  font-family: 'Actor';
	  display: grid;
	  grid-template-columns: 0.5fr 0.5fr 1fr;
	  grid-column-gap: 5%;
	  grid-template-rows: 0.75fr repeat(4, 0.25fr);
	  opacity: 1;
  }
  #slideshow {
	  grid-column: 3/4;
	  grid-row: 2/6;
	  width: 70%;
	  height: 100%;
	  border: 5px solid #b04632;
	  margin: 0;
	  z-index: 0;
	  opacity: 0.8;
	  display: flex;
	  padding-left: 15vh;
  }
  .focusopt{
	  padding-left: 20vh;
  }
  #workBodyFocus {
	  padding: 15vh;
	  box-sizing: border-box;
	  font-size: 5vh;
	  width: 100%;
	  grid-column: 1/4;
	  color: black;
	  z-index: 2;
	  margin-bottom: 0;
	  padding-bottom: 0;
  }
  #workBodyFocusTitle {
	  border-top: 5px solid #b04632;
  }
  label {
	  font-size: 4vh;
	  font-weight: 800;
	  color: black;
  }
  .boxes {
	  color: black;
	  height: 3.5vh;
	  width: 3.5vh;
	  margin-right: 10px;
  }
  .workdurdiffcontainer{
	  display: grid;
	  grid-template-columns: 1fr 1fr;
  }
  .workDurationSection {
	  box-sizing: border-box;
	  font-family: 'Actor';
	  text-align: left;
	  display: flex;
	  align-items: center;
	  flex-direction: column;
	  background-color: #b04632;
	  color: white;
  }
  .workDifficultySection{
	  box-sizing: border-box;
	  font-family: 'Actor';
	  display: flex;
		align-items: center;
	  flex-direction: column;
	  color: white;
  }
  #workDurationBox, #workDiffBox {
	  font-size: 4vh;
	  font-weight: 700;
	  border: none;
	  border-radius: 5%;
	  width: 100%;
	  text-align: center;
	  height: 100%;
	  background-color: white;
	  color:black;
	  text-align-last: center;
  }
  p#workDuration, p#workDiff{
	  font-size: 4vh;
	  font-weight: 700;
	  width: 100%;
  }
  #workExercisesContainer {
	  padding: 0vh 15vh 15vh 15vh;
  }
  #addExercise img {
	  height: 25vmin;
	  width: 25vmin;
	  cursor: pointer;
  }
  #workExercisesContainer p {
	  font-weight: 600;
	  font-family: 'Actor';
	  font-size: 5vh;
	  grid-column: 1/6; 
	  border-top: 5px solid #b04632;
  }
  .newExercise {
	  display: grid;
	  background-color:white;
	  color: black;
	  height: 100%;
	  width: 100%;
	  cursor: pointer;
  }
  .exerciseFormButton {
	  width: 300px;
	  height: 400px;
  }
  .exerciseForm {
	  padding: 5vh;
	  position: fixed;
	  display: grid;
	  grid-template-rows: 3vh 30vh 3vh 3vh;
	  grid-template-columns: repeat(4, 1fr);
	  grid-column-gap: 2%;
	  grid-row-gap: 5%;
	  top: 20%;
	  left: 20%;
	  height: 60%;
	  width: 60%;
	  box-sizing: border-box;
	  z-index: 20;
	  font-family: 'Actor';
	  color: white;
	  background-color: #b04632;
  }
  .exerciseForm button {
	  color: black;
	  font-family: 'Actor';
	  font-size: 3vh;
	  width: 30%;
	  background-color: white;
  }
  .exerciseForm span {
	  font-size: 2.5vh;
	  font-family: 'Actor';
  }
  .exerciseForm textarea {
	  width: 100%;
	  height: 90%;
  }
  .exerciseForm input {
	  font-size: 2vh;
	  font-family: 'Actor';
	  width: 100%;
	  font-weight: 600;
	  height: 100%;
  }
  .exerciseForm input:focus{
	  outline: 0;
  }
  .newExercise {
	  display: grid;
	  background-color:#f2f2f2;
	  color: black;
	  height: 100%;
	  width: 100%;
	  cursor: pointer;
  }

  .exerNameDisplay {
	  font-size: 3vh;
	  padding: 2vh 1vh;
  }
  .exerPicDisplay {	
	  height: 300;
	  width: 250;
  }
  .execCont {
	  display: flex;
	  flex-direction: row;
	  overflow-x: scroll;
  }
  .exerciseFormButton {
	  width: 300px;
	  height: 400px;
	  display: grid;
	  grid-template-rows: 1fr 10%;
	  box-shadow: -1rem 0 3rem gray;
	  transition: 0.4s;
	  margin-bottom: 2rem;
  }
  .exerciseFormButton:hover~.exerciseFormButton {
	  transform: translateX(5rem);
  }
  .exerciseFormButton:not(:first-child) {
	  margin-left: -5rem;
  }
  .execCont::-webkit-scrollbar {
	  width: 15px;
	  height: 15px;
	  
  }
  .execCont::-webkit-scrollbar-thumb {
	  background: darkred;
	  border-radius: 10px;
  }
  .execCont::-webkit-scrollbar-track {
	  background: black;
	  border-radius: 50px;
  }
  .removeButton{
	  background-color: darkred;
	  color: white;
	  font-family: 'Actor';
	  font-weight: 600;
	  font-size: 2vh;
	  padding: 1vh 2vh;
	  height: 100%;
	  transition: background 0.5s;
	  cursor: pointer;
  }
  .removeButton:hover{
	  background-color: darkred;
  }
  .removeButton:hover{
	  background-color: darkred;
  }
 @media(max-width: 1300px) {
	.exerciseFormButton {
		width: 200px;
		height: 300px;
	}
  } 